<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>N-BUY</title>
</head>
<script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>

<body>
<h1>회원 가입</h1>
<div th:replace="/fragments/header.html :: fragment-body-menu"></div>

<script th:inline = "javascript">
    $(document).ready(function (){
        const alertMessage = [[${errorMessage}]];
        if (alertMessage != null) {
            alert(alertMessage);}
    });
</script>


<form method="post">
    <div>
        아이디 : <input type="text" name="userId" required/>
    </div>
    <div>
        이름 : <input type="text" name="userName" required/>
    </div>
    <div>
        비밀번호 : <input type="password" name="password" required/>
    </div>
    <div>
        비밀번호 확인 : <input type="password" name="rePassword" required/>
    </div>
    <div>
        사용 이메일 : <input type="email" name="userEmail" placeholder=" ex) abc@gmail.com" required/>
        <p>회원가입 인증 메일 및 상품에 대한 정보를 전달 받는 이메일입니다.</p>
    </div>
    <div>
        전화번호 : <input type="tel" name="phone" required/>
    </div>

    <div>
        <button>회원 가입 하기</button>
    </div>
</form>



</body>
</html>
