<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--BootStrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>N-BUY</title>
</head>
<body>

<div th:fragment="fragment-body-menu">
    <div style="float: left">
        <a href="/product/list">같이 구매 상품 목록</a>
        |
        <a href="/member/info">회원 정보</a>
    </div>
    <div style="float: right">
        <a href="/member/register">회원 가입</a>
        |
        <a href="/member/login">로그인</a>
        |
        <a href="/member/logout">로그아웃</a>
    </div>
    <br/>
    <hr/>
</div>

<div th:fragment="fragment-admin-body-menu">
    <a href="/admin/main.do"> 관리자 메인 </a>
    |
    <a href="/admin/member/list.do"> 회원 관리 </a>
    |
    <a href="/admin/category/list.do"> 카테고리 관리 </a>
    |
    <a href="/admin/product/list.do"> 상품 관리 </a>
    |
    <a href="/member/logout"> 로그아웃 </a>
    <br/>
    <hr/>
</div>

</body>
</html>
