.list table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

.list table th, .list table td {
    border: solid 1px #000;
}

.search-form {
    position: relative;
    padding: 5px 0 10px 0;
    text-align: left;
}

.search-form .total-count {
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    float: left;
}

.pager {
    margin-top: 20px;
    text-align: center;
}

p.nothing {
    text-align: center;
    padding: 100px;
}

.inline-div {
    display: inline-block;
}